<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <h1>All Musicians</h1>
    <a class="btn btn-info" href="/">Go Back</a>
    <div class="container text-center">
        <div class="row align-items-center">
            <% musicians.forEach(musician =>{ %>
            <div class="col my-2 py-3">
                <div class="card" style="width: 18rem;">

                            <img style="height: 40vh;" src=<%=musician.image %> alt=<%= musician.name %>>
                        <div class="card-body">
                            <h5 class="card-title"><%= musician.name %></h5>
                            <p>Instrument: <%= musician.instrument %>
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                                <a href="/musicians/<%= musician._id %>" class="btn btn-primary">See Artist</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
        </div>
    </div>
    
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>