<%- include('../partials/head', {pageName: "Name" }) %>

    <body>
        <%- include('../partials/header') %>
<div class="container my-2 py-3 d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=<%=musician.image %> alt=<%= musician.name %>>
    <div class="card-body">
        <h5 class="card-title">Name: <%= musician.name %></h5>
            <p>Instrument: <%= musician.instrument %></p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary d-flex justify-content-center">Play</a>
    </div>
</div>
<form  method="POST" action="/musicians/<%= musician._id %>?_method=DELETE">
    <input  class="btn btn-danger my-2" type="submit" value="Delete Aritst">
</form>
</div>

        <footer>
<%- include("../partials/footer") %>
        </footer>
       
    </body>
